html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
}
.charts {
    position: absolute;
    bottom: 0;
}
.cardfloat {
    position: absolute;
    top: 10;
    left: 10;
}
.best {
    position: absolute;
    top: 10;
    right: 10;
    display: none;
}
label:not(:first-child) {
    margin-top: 15px;;
}